[submodule "terraform-aws-instellar"]
	path = terraform-aws-instellar
	url = git@github.com:upmaru/terraform-aws-instellar.git
[submodule "terraform-digitalocean-instellar"]
	path = terraform-digitalocean-instellar
	url = git@github.com:upmaru/terraform-digitalocean-instellar.git
[submodule "terraform-hcloud-instellar"]
	path = terraform-hcloud-instellar
	url = git@github.com:upmaru/terraform-hcloud-instellar.git
[submodule "terraform-instellar-bootstrap"]
	path = terraform-instellar-bootstrap
	url = git@github.com:upmaru/terraform-instellar-bootstrap.git
